[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/MusicIdea_back/venv/bin/uwsgi -i /srv/MusicIdea_back/.config/uwsgi/musicidea.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target